<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板标签</title>
    <style>
        .green {
            background-color: green;
        }

        .yellow {
            background-color: yellow;
        }

        .red {
            background-color: red;
        }
    </style>
</head>
<body>
{% for foo in book %}
    {% if foo.id <= 2  %}
    <li class="red">{{ forloop.counter }}--{{ foo.btitle }}</li>
    {% elif foo.id <= 4 %}
    <li class="yellow">{{ forloop.counter }}--{{ foo.btitle }}</li>
    {%  else %}
    <li class="green">{{ forloop.counter }}--{{ foo.btitle }}</li>
    {% endif %}
{% endfor %}

</body>
</html>